
<div class="page-title w-100">Review Timesheet</div>
<div class="page-title w-100">Project Name</div>
<div class="action-head justify-content-between d-flex">
    <div class="act-filter d-flex align-items-center justify-content-center">
        <input type="text" class="search-filter" placeholder="Search Activities"/>
    </div>
</div>
<div class="row sheet-row">
    <div class="sheet-col">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>
                                Activities
                            </th>
                            <th>
                                Mon <br/>May 23
                            </th>
                            <th>
                                Tus <br/>May 23
                            </th>
                            <th>
                                Wed <br/>May 23
                            </th>
                            <th>
                                Thu <br/>May 23
                            </th>
                            <th>
                                Fri <br/>May 23
                            </th>
                            <th>
                                Sat <br/>May 23
                            </th>
                            <th>
                                Sun <br/>May 23
                            </th>
                            <th>
                               Remarks
                            </th>
                           
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   <span>Remarks</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   <span>Remarks</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   <span>Remarks</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   <span>Remarks</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   <span>Remarks</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4
                                </td>
                                <td>

                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   <span>Remarks</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class=" remarks-col">
        <div class="card">
            <div class="card-body pt-1">
                <div class="r-row mb-1">
                    <label>Remarks</label>
                    <textarea  class="form-control" rows="4"></textarea>
                </div>
                <div class="r-row">
                    <button  class="thm-btn-primary sm-btn w-100 my-2">Approve</button>
                    <button  class="thm-btn-primary sm-btn w-100 my-2">Disapprove</button>
                </div>
            </div>
        </div>
        
    </div>

</div>
