<div class="page-title w-100">PROJECTS</div>
<div class="action-head justify-content-between d-flex">
    <div class="act-filter d-flex align-items-center justify-content-center">
        <input type="text" class="search-filter" placeholder="Search Project"/>
    </div>
    <div class="action">
        <button class="act-btn thm-btn thm-btn-primary"><i class="nc-icon nc-simple-add"></i> Add Project</button>
        <!-- the below button have to be added conditionaly -->
        <button class="act-btn thm-btn thm-btn-primary"><i class="nc-icon nc-check-2"></i> Save</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>
                                Project Name
                            </th>
                            <th>
                                Project Description
                            </th>
                            <th>
                                Client Name
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                Current Status
                            </th>
                            <th>
                                SHED Project
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Activities
                            </th>
                            <th>
                                Assigned to
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Project 1
                                </td>
                                <td>
                                    This is a sample project
                                </td>
                                <td>
                                    Peter
                                </td>
                                <td>
                                    5/23/2022
                                </td>
                                <td>
                                    7/21/2022
                                </td>
                                <td>
                                    Sprint1
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="edit"><img src="../../../assets/img/edit.png" alt="" /></button>
                                </td>
                                <td>
                                    <button class="view"><img src="../../../assets/img/view.png" alt="" /></button>
                                </td>
                                <td>
                                    Peter & Alex
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Project 1
                                </td>
                                <td>
                                    This is a sample project
                                </td>
                                <td>
                                    Peter
                                </td>
                                <td>
                                    5/23/2022
                                </td>
                                <td>
                                    7/21/2022
                                </td>
                                <td>
                                    Sprint1
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="edit"><img src="../../../assets/img/edit.png" alt="" /></button>
                                </td>
                                <td>
                                    <button class="view"><img src="../../../assets/img/view.png" alt="" /></button>
                                </td>
                                <td>
                                    Peter & Alex
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Project 1
                                </td>
                                <td>
                                    This is a sample project
                                </td>
                                <td>
                                    Peter
                                </td>
                                <td>
                                    5/23/2022
                                </td>
                                <td>
                                    7/21/2022
                                </td>
                                <td>
                                    Sprint1
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="edit"><img src="../../../assets/img/edit.png" alt="" /></button>
                                </td>
                                <td>
                                    <button class="view"><img src="../../../assets/img/view.png" alt="" /></button>
                                </td>
                                <td>
                                    Peter & Alex
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Project 1
                                </td>
                                <td>
                                    This is a sample project
                                </td>
                                <td>
                                    Peter
                                </td>
                                <td>
                                    5/23/2022
                                </td>
                                <td>
                                    7/21/2022
                                </td>
                                <td>
                                    Sprint1
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="edit"><img src="../../../assets/img/edit.png" alt="" /></button>
                                </td>
                                <td>
                                    <button class="view"><img src="../../../assets/img/view.png" alt="" /></button>
                                </td>
                                <td>
                                    Peter & Alex
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Project 1
                                </td>
                                <td>
                                    This is a sample project
                                </td>
                                <td>
                                    Peter
                                </td>
                                <td>
                                    5/23/2022
                                </td>
                                <td>
                                    7/21/2022
                                </td>
                                <td>
                                    Sprint1
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="edit"><img src="../../../assets/img/edit.png" alt="" /></button>
                                </td>
                                <td>
                                    <button class="view"><img src="../../../assets/img/view.png" alt="" /></button>
                                </td>
                                <td>
                                    Peter & Alex
                                </td>

                            </tr>
                            <tr class="row-created row-added">
                                <td>
                                    Project 1
                                </td>
                                <td>
                                    This is a sample project
                                </td>
                                <td>
                                    Peter
                                </td>
                                <td>
                                    5/23/2022
                                </td>
                                <td>
                                    7/21/2022
                                </td>
                                <td>
                                    Sprint1
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="edit"><img src="../../../assets/img/edit.png" alt="" /></button>
                                </td>
                                <td>
                                    <button class="view"><img src="../../../assets/img/view.png" alt="" /></button>
                                </td>
                                <td>
                                    Peter & Alex
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>