#headers {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    color: black;
    border-collapse: collapse;

}
.filt-select{
    width: 156px;
    font-size: 11px;
}

