<div class="page-title w-100">PROJECTS</div>
<div class="action-head justify-content-between d-flex">
    <div class="act-filter d-flex align-items-center justify-content-center">
        <input type="text" class="search-filter" placeholder="Search Project"/>
    </div>
    <div class="action d-flex justify-content-end">
        <button class="act-btn thm-btn thm-btn-primary" type="button" (click)="addFieldValue();changeText()" ion-button><i class="nc-icon nc-simple-add"></i>Add Project</button>
        <!-- the below button have to be added conditionaly -->
        <button class="act-btn thm-btn thm-btn-primary" type="button" (click)="saveField()"><i class="nc-icon nc-check-2"></i>Save</button>
    </div>
    <!-- <div class="action d-flex justify-content-end">
      <button (click)="addFieldValue()" [disabled]="projectGroup.invalid" ion-button>Add</button>
  </div> -->
</div>
<br>
<form [formGroup]="projectGroup">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Client Name</th>
                <th> Start Date</th>
                <th> End Date</th>
                <th> Current Status</th>
                <th> SHED Project</th>
                <th> Edit</th>
                <th> View</th>
                <th> Assigned to</th>
                <th>Delete</th>
              </thead>
              <ng-container projectGroup.controls.itemRows>
                <tbody formArrayName ="itemRows">
                  <tr *ngFor="let itemrow of projectGroup['controls'].itemRows['controls']; let i = index" [formGroupName]="i">
                      <td class="col-md-2 form-group">
                            <span *ngIf="!itemrow.editable">{{itemrow.projectName}}</span>
                            <input placeholder="Project Name" formControlName="projectName" type="text" *ngIf="itemrow.editable"/>
                      </td>
                      <td class="col-md-2 form-group">
                            <span *ngIf="!itemrow.editable">{{itemrow.projectDescription}}</span>
                            <input placeholder="Project Description" formControlName="projectDescription" type="text" *ngIf="itemrow.editable"/>
                      </td>
                      <td class="col-md-2 form-group"> 
                            <span *ngIf="!itemrow.editable">{{itemrow.clientId}}</span>
                            <input placeholder="Client Name" formControlName="clientId" type="int" *ngIf="itemrow.editable" />
                      </td>
                      <td class="col-md-2 form-group">
                            <span *ngIf="!itemrow.editable">{{itemrow.startDate}}</span>
                            <input placeholder="StartDate" formControlName="startDate" type="date" *ngIf="itemrow.editable"/>
                      </td>
                      <td class="col-md-2 form-group">
                            <span *ngIf="!itemrow.editable">{{itemrow.endDate}}</span>
                            <input placeholder="End Date" formControlName="endDate" type="date" *ngIf="itemrow.editable"/>
                      </td>
                      <td class="col-md-2 form-group">
                           <span *ngIf="!itemrow.editable">{{itemrow.currentStatus}}</span>
                           <input placeholder="Current Status" formControlName="currentStatus" type="text" *ngIf="itemrow.editable"/>
                      </td>
                       <td class="col-md-2 form-group">
                          <span *ngIf="!itemrow.editable">{{itemrow.sredProject}}</span>
                            <input placeholder="SHED Project" formControlName="sredProject" type="text" *ngIf="itemrow.editable"/>
                       </td>
                      <td class="col-md-2 form-group">
                        <button class="edit" type="button" (click)="makeEditable(itemrow)">
                          <!-- <img
                            src="../../../assets/img/edit.png"
                            alt="" /> -->Edit
                        </button>
                      </td>
                      <td class="col-md-2 form-group">
                          <button class="view" routerLink="/activities" type="button">
                            <!-- <img src="../../../assets/img/view.png" alt="" /> -->view
                          </button>
                     </td>
                     <td class="col-md-2 form-group">
                          <span *ngIf="!itemrow.editable">{{itemrow.assignedto}}</span>
                          <input placeholder="Assigned To" formControlName="assignedto" type="text" *ngIf="itemrow.editable"/>
                    </td>
                    <td class="col-md-2 form-group" >
                      <button class="delete" type="button" (click)="deleteRow(i)" >
                          <!-- <img
                          src="../../../assets/img/delete.png"
                          alt="" /> -->Delete
                      </button>
                  </td>
                </tr>
                </tbody>
              </ng-container>
            </table>
          </div>
            
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="pageChanged($event)"
            [maxSize]="5"></pagination-controls>
</form>