<div class="auth-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                    <div class="auth-title">
                        Login
                    </div>
                    <div class="auth-logo">
                        <img src="../.././../assets/img/logo.png" alt=""/>
                    </div>
                    <form [formGroup]="loginForm"
                    (ngSubmit)= "login($event)">
                        <div class="auth-form">
                            <div class="af-row">
                                <input type="email" class="form-control" 
                                formControlName="email"
                                placeholder="Enter your email"/>
                                <div class="error d-none">Invalid Email Address</div>
                                <div class="re-otp"><a href="#">Resend OTP</a></div>
                            </div>
                            <div class="af-row af-btnrow">
                                <button class="auth-btn thm-btn" type="submit" [disabled]="loginForm.invalid">GENERATE OTP</button>
                            </div>
                            
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
