@import "../../../../assets/scss/paper-dashboard/mixins";
@import "../../../../assets/scss/paper-dashboard/variables";
@import "../../../../assets/scss/paper-dashboard/responsive";


#headers {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    color: black;
    border-collapse: collapse;

}
.sp-row{
    padding: 0px 15px;
    .sub-ptitle{
        font-size: 15px;
        color: $secondary-color;
        font-weight: 400;
        border-top: 1px #e7e7e7 solid;
        padding: 12px 0;
    }
}



