<div class="page-title w-100">Activities</div>
<div class="action-head justify-content-between d-flex">
    <div class="sub-ptitle">Project Name title goes here</div>
    <div class="act-filter d-flex align-items-center justify-content-center">
        <input type="text" class="search-filter" placeholder="Search Activities"
            />
    </div>
    <div class="action d-flex justify-content-end">
        <button class="act-btn thm-btn thm-btn-primary"><i class="nc-icon
                nc-simple-add"></i> Add Activities</button>
        <!-- the below button have to be added conditionaly -->
        <button class="act-btn thm-btn thm-btn-primary"><i class="nc-icon
                nc-check-2"></i> Save</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>
                                Activity Name
                            </th>
                            <th>
                                Activity Description
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    This is a sample activity
                                </td>

                                <td>
                                    <button class="edit"><img
                                            src="../../../assets/img/edit.png"
                                            alt="" /></button>
                                </td>
                                <td>
                                    <button class="delete"><img
                                            src="../../../assets/img/delete.png"
                                            alt="" /></button>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    This is a sample activity
                                </td>

                                <td>
                                    <button class="edit"><img
                                            src="../../../assets/img/edit.png"
                                            alt="" /></button>
                                </td>
                                <td>
                                    <button class="delete"><img
                                            src="../../../assets/img/delete.png"
                                            alt="" /></button>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    This is a sample activity
                                </td>

                                <td>
                                    <button class="edit"><img
                                            src="../../../assets/img/edit.png"
                                            alt="" /></button>
                                </td>
                                <td>
                                    <button class="delete"><img
                                            src="../../../assets/img/delete.png"
                                            alt="" /></button>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    This is a sample activity
                                </td>

                                <td>
                                    <button class="edit"><img
                                            src="../../../assets/img/edit.png"
                                            alt="" /></button>
                                </td>
                                <td>
                                    <button class="delete"><img
                                            src="../../../assets/img/delete.png"
                                            alt="" /></button>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    Activity 1
                                </td>
                                <td>
                                    This is a sample activity
                                </td>

                                <td>
                                    <button class="edit"><img
                                            src="../../../assets/img/edit.png"
                                            alt="" /></button>
                                </td>
                                <td>
                                    <button class="delete"><img
                                            src="../../../assets/img/delete.png"
                                            alt="" /></button>
                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>