<div class="page-title w-100">Activities</div>
<div class="action-head justify-content-between d-flex">
    <div class="sub-ptitle"><h1>{{titleService.getTitle()}}</h1></div>
    <div class="act-filter d-flex align-items-center justify-content-center">
        <input type="text" class="search-filter" placeholder="Search Activities"
            />
    </div>
    <div class="action d-flex justify-content-end">
        <div class="action d-flex justify-content-end">
            <button class="act-btn thm-btn thm-btn-primary" (click)="changeText();addFieldValue();saveField()" ion-button><i class="nc-icon nc-simple-add"></i> {{ text }}</button>
            <!-- the below button have to be added conditionaly -->
            <!-- <button class="act-btn thm-btn thm-btn-primary"><i class="nc-icon nc-check-2"></i> Save</button> -->
        </div>
        <!-- <div class="action d-flex justify-content-end">
            <button (click)="addFieldValue()" [disabled]="projectGroup.invalid">Add</button>
        </div> -->
    </div>
</div>
<br>
<div id="headers">
    <div class="row align-items-start">
        <div class="col">
            Activity Name 
        </div>
        <div class="col">
            Activity Description 
        </div>
        <div class="col">
          Edit 
        </div>
        <div class="col">
            Delete 
          </div>
    </div>
</div>
<form [formGroup]="projectGroup">
    <ng-container projectGroup.controls.itemRows != null>
        <div *ngFor="let itemrow of projectGroup['controls'].itemRows['controls']; let i = index" [formGroupName]="i">
            <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr class="text-primary">
                                            <td class="col-md-2 form-group">
                                                <span *ngIf="!itemrow.editable">{{itemrow.ActivityName}}</span>
                                                <input [disabled]='isVisible' placeholder="Activity Name" formControlName="itemrow.ActivityName" *ngIf="itemrow.editable"/>
                                            </td>
                                            <td class="col-md-2 form-group">
                                                <span *ngIf="!itemrow.editable">{{itemrow.ActivityDescription}}</span>
                                                <input [disabled]='isVisible' placeholder="Activity Description" formControlName="itemrow.ActivityDescription" *ngIf="itemrow.editable"/>
                                            </td>
                                            <td class="col-md-2 form-group">
                                                <button class="edit" (click)="makeEditable(itemrow)"><img
                                                    src="../../../assets/img/edit.png"
                                                    alt="" /></button>
                                            </td>
                                            <td class="col-md-2 form-group">
                                                <button class="delete" (click)="deleteRow(i)" >
                                                    <img
                                                    src="../../../assets/img/delete.png"
                                                    alt="" />
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
        </div>
    </ng-container>
</form>
