<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Timesheet</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                  <th>
                   <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project
                  </th>
                  <th>
                      Activities
                    </th>
                    <th>
                      Monday<br>May 23
                    </th>
                    <th>
                      Tuesday<br>May 24
                    </th>
                  <th>
                    Wednesday<br>May 25 
                  </th>
                  <th>
                    Thusday<br>May 26 
                  </th>
                  <th>
                    Friday<br>May 27 
                  </th>
                  <th>
                    Saturday<br>May 28 
                  </th>
                  <th>
                    Sunday<br>May 29 
                  </th>
                  <th>
                   Total
                  </th>
                  <th>
                   Remarks
                  </th>
                  <th>
                   Edit
                  </th>
                  <th>
                   Delete
                  </th>
              </thead>
              <tbody>
                <tr>
                    <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                    </td>
                    <td>
                      Activity3
                    </td>
                    <td>
                      5
                    </td>
                    <td >
                      6
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                     2
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                      7
                    </td>
  
                  </tr>
                  <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        7
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        7
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        7
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        7
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        7
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        7
                      </td>
    
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  