<div class="page-title w-100">Timesheet Management</div>
<div class="action-head justify-content-between d-flex">
    <div class="time"><i class="nc-icon nc-watch-time"></i> In hours</div>
    <div class="act-filter d-flex align-items-center justify-content-center">
       <button class="left-date date-week"><i class="nc-icon nc-minimal-left"></i></button> <span class="d-label">From</span><input type="date" class="nm-date"/><span class="d-label">To</span><input type="date" class="nm-date"/><button class="right-date date-week"><i class="nc-icon nc-minimal-right"></i></button>
    </div>
    <div class="action">
        <button class="act-btn thm-btn thm-btn-primary"><i class="nc-icon nc-simple-add"></i> Add Time</button>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                  <th>
                   <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project
                  </th>
                  <th>
                      Activities
                    </th>
                    <th>
                      Monday<br>May 23
                    </th>
                    <th>
                      Tuesday<br>May 24
                    </th>
                  <th>
                    Wednesday<br>May 25 
                  </th>
                  <th>
                    Thusday<br>May 26 
                  </th>
                  <th>
                    Friday<br>May 27 
                  </th>
                  <th>
                    Saturday<br>May 28 
                  </th>
                  <th>
                    Sunday<br>May 29 
                  </th>
                  <th>
                   Total
                  </th>
                  <th>
                   Remarks
                  </th>
                  <th>
                    Status
                   </th>
                  <th>
                   Edit
                  </th>
                  <th>
                   Delete
                  </th>
              </thead>
              <tbody>
                <tr>
                    <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                    </td>
                    <td>
                      Activity3
                    </td>
                    <td>
                      5
                    </td>
                    <td >
                      6
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                     2
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                        Status
                    </td>
                    <td>
                        <button class="edit"><img src="../../../assets/img/edit.png" alt=""/></button>
                    </td>
                    <td>
                        <button class="delete"><img src="../../../assets/img/delete.png" alt=""/></button>
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        Status
                    </td>
                      <td>
                        <button class="edit"><img src="../../../assets/img/edit.png" alt=""/></button>
                      </td>
                      <td>
                        <button class="delete"><img src="../../../assets/img/delete.png" alt=""/></button>
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        Status
                    </td>
                      <td>
                        <button class="edit"><img src="../../../assets/img/edit.png" alt=""/></button>
                      </td>
                      <td>
                        <button class="delete"><img src="../../../assets/img/delete.png" alt=""/></button>
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        Status
                    </td>
                      <td>
                        <button class="edit"><img src="../../../assets/img/edit.png" alt=""/></button>
                      </td>
                      <td>
                        <button class="delete"><img src="../../../assets/img/delete.png" alt=""/></button>
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        Status
                    </td>
                      <td>
                        <button class="edit"><img src="../../../assets/img/edit.png" alt=""/></button>
                      </td>
                      <td>
                        <button class="delete"><img src="../../../assets/img/delete.png" alt=""/></button>
                      </td>
    
                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        Status
                    </td>
                      <td>
                        <button class="edit"><img src="../../../assets/img/edit.png" alt=""/></button>
                      </td>
                      <td>
                        <button class="delete"><img src="../../../assets/img/delete.png" alt=""/></button>
                      </td>

                    </tr>
                    <tr>
                      <td>
                        <input class="form-check-input tbl-check" type="checkbox" value="" id="flexCheckDefault"> Project 1
                      </td>
                      <td>
                        Activity3
                      </td>
                      <td>
                        5
                      </td>
                      <td >
                        6
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        4
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                       2
                      </td>
                      <td>
                        3
                      </td>
                      <td>
                        2
                      </td>
                      <td>
                        5
                      </td>
                      <td>
                        Status
                    </td>
                      <td>
                        <button class="edit"><img src="../../../assets/img/edit.png" alt=""/></button>
                      </td>
                      <td>
                        <button class="delete"><img src="../../../assets/img/delete.png" alt=""/></button>
                      </td>
    
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 remarks-col">
       <div class="r-row">
           <label>Send to</label>
           <select>
               <option>1</option>
               <option>2</option>
           </select>
       </div>
       <div class="r-row">
           <label>Remarks</label>
           <textarea></textarea>
       </div>
    </div>

  </div>
  