<div class="page-title w-100">Review Timesheet</div>
<div class="action-head justify-content-between d-flex">
    <div class="act-filter d-flex align-items-center justify-content-center">
        <!-- <input type="text" class="search-filter" placeholder="Search Project"/> -->
        <input
            #searchBar
            type="text"
            class="cpage-search"
            placeholder="Search Project"
            (keyup)="searchItems($event)"
            style="width: 370px"
        />
        <i *ngIf="searchTerm" class="pe-7s-close-circle" (click)="clearSearch(); searchBar.value = ''"></i>
        <i *ngIf="!searchTerm" class="pe-7s-search"></i>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="sort-thm">
                                Project
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th class="sort-thm">
                                Submitted Date
                            </th>
                            <th>
                               Open Time sheet
                            </th>
                            <th class="sort-thm">
                               Status
                            </th>
                            
                        </thead>
                        <tbody *ngFor="let item of reviewTimesheetArray |
                        paginate: config; let i= index">
                            <tr >
                                <td >
                                    {{item.ProjectName}}
                                </td>
                                <td>
                                    {{item.EmployeeName}}
                                </td>
                                <td>
                                    {{item.Date}}
                                </td>
                                <td>
                                    <button class="link thm-linkbtn" (click)="onViewTimesheet(item,'projectName','Id','2022-06-12')">Link</button>
                                </td>
                                <td>
                                    <span class="label-status approved">{{item.status}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="pagination-line d-flex justify-content-end" *ngIf="true">
        <ul>
            <pagination-controls
                id='activity'
                (pageChange)="pageChanged($event)"
                [directionLinks]="true"
                [autoHide]="false"
                [maxSize]="10"
                [responsive]="true"
                previousLabel="Previous"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </ul>
    </div>


</div>